:root {
  --color-bg: #000222;
  --color-leaf: #f7ff08;
  --color-stem: #14757a;
}

body {
  background-color: var(--color-bg);
  margin: 0;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

.flowers {
  position: relative;
  transform: scale(0.8);
  z-index: 5;
}

.flower {
  position: absolute;
  bottom: 10vmin;
  transform-origin: bottom center;
}

.flower--1 { left: 10vmin; animation: moving-flower-1 4s linear infinite; }
.flower--2 { left: -10vmin; animation: moving-flower-2 4s linear infinite; }
.flower--3 { left: -25vmin; animation: moving-flower-3 4s linear infinite; }

.flower__leaf {
  position: absolute;
  bottom: 0;
  width: 8vmin;
  height: 11vmin;
  border-radius: 51% 49% 47% 53% / 44% 45% 55% 56%;
  background-color: var(--color-leaf);
  transform-origin: bottom center;
}

.flower__line {
  height: 50vmin;
  width: 1.5vmin;
  background-image: linear-gradient(to top, #14757a, #39c6d6);
}

@keyframes moving-flower-1 {
  0%, 100% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
}
