body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

.night {
    position: fixed;
    width: 100%; height: 100%;
    background: radial-gradient(circle, #1b2735 0%, #090a0f 100%);
    z-index: 1;
}

.titulo-principal {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 100;
    font-family: cursive;
}

#lyrics-container {
    position: fixed;
    bottom: 100px;
    width: 100%;
    text-align: center;
    z-index: 200;
}

#lyrics span {
    font-size: 2rem;
    color: rgba(255,255,255,0.2);
    font-weight: bold;
    transition: 0.3s;
}

#lyrics span.highlight {
    color: yellow;
    text-shadow: 0 0 15px yellow;
}
